<!DOCTYPE html>
<html>
    <head>
<link rel="stylesheet" href="./home-files/css/template-styles.css">
    </head>
    <body>
        <div class="flex justify-center">
   
            <div class="flex flex-col">
            <div>
               <div class="text-one" style="display: flex; justify-content: center; margin-top: 8%;"><h1 class="planet">M a r s</h1></div>
               <div class="text-one" style="display: flex; justify-content: center"><h2 class="location">GALE CRATER</h2></div>
               <div class="text-one"><h3 class="sol"  style="display: flex; justify-content: center">{{"Sol" + " " + soleOneNumber }}</h3></div>
               <div ng-if="celsiusOrFahrenheit === 'fahrenheit'" class="flex flex-col">
                <div class="flex" style="display: flex; justify-content: center; gap: 2%;">
                <div class="text-one"><span class="temp">H: </span><span class="temp">{{ soleOneHighF }}</span><span class="temp">°</span></div>
                <div class="text-one"><span class="temp">L: </span><span class="temp">{{ soleOneLowF }}</span><span class="temp">°</span></div>
               </div>
            </div>

               <div ng-if="celsiusOrFahrenheit === 'celsius'" class="flex" style="display: flex; justify-content: center">
                <div class="text-one"><span class="temp">H:</span><span class="temp">{{ soleOneHighC }}</span><span class="temp"> °</span></div>
                <div class="text-one"><span class="temp">L:</span><span class="temp">{{ soleOneLowC }}</span><span class="temp"> °</span></div>
               </div>
               <div class="text-one" style="display: flex; justify-content: center"><h3 class="atmosphere">{{soleOneAtmosphere}}</h3></div>

               <div class="mb-24">
                 <div ng-if="celsiusOrFahrenheit === 'fahrenheit' || celsiusOrFahrenheit == undefined" class="text-one" style="display: flex; justify-content: center"><button ng-click="fahrenheit()"class="temp text-pink-200">F</button> <span class="temp" style="margin-left: 3%; margin-right: 3%;"> | </span><button ng-click="celsius()" class="temp">C</button></div>
                 <div ng-if="celsiusOrFahrenheit === 'celsius'" class="text-one" style="display: flex; justify-content: center"><button ng-click="fahrenheit()"class="temp">F</button> <span class="temp" style="margin-left: 3%; margin-right: 3%;"> | </span><button ng-click="celsius()" class="temp text-pink-200">C</button></div>
               </div>
               
               </div>
             <div class="previous-files" ng-if="celsiusOrFahrenheit === 'celsius'" ng-include="'./home-files/components/previousSectionCelsius.html'"></div>
             <div class="previous-files" ng-if="celsiusOrFahrenheit === 'fahrenheit' || celsiusOrFahrenheit == undefined" ng-include="'./home-files/components/previousSectionFahrenheit.html'"></div>

             <div class="gale-crater-file" ng-include="'./home-files/components/galeCrater.html'"></div>

               <div style="display: flex; justify-content: space-between; margin-left: 5%; margin-right: 5%;  margin-bottom: 1.5%; height: 260px;">
             <div class="uv-index-file" ng-include="'./home-files/components/uvIndex.html'"></div>
             <div class="sunrise-sunset-file" ng-include="'./home-files/components/sunrise-sunset.html'"></div>
             </div>
             <div class="rover-photos-file" style="margin-left: 5%; margin-right: 5%;" ng-include="'./home-files/components/rover-photos.html'"></div>
         </div>
        </div>
    </body>
</html>