.text-one {
    color: white;
}

.text-two {
    color: rgb(212, 212, 212);
}

.hrs {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

hr {
    border-color: rgb(146, 146, 146);
}

.previous-container {
    border-radius: 8px;
    margin-bottom: 2%;
    margin-top: 2%;
    background-color: rgba(68, 54, 104, 0.332);
    width: 90%;
    padding-bottom: 1%;

}

.previous-header {
display: flex;
gap: 1%;
margin-left: 4%;
padding-top: 2%;
margin-bottom: -1.5%;
}

.previous-row {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-right: 4%;
    padding-left: 4%;
}

.previous-left {
    display: flex;
    width: 60%;
    gap: 4%;
}

.previous-right{
    display: flex;
    width: 80%;
    justify-content: space-around;
}

.previous-bar {
    width: 50%;
}

.previous-temps {
    font-size: 130%;
    width: 10%;
    font-weight: 600;
}

.previous-date {
    font-size: 110%;
    font-weight: 500;
    width:100%;
}

.previous-atmos {
    font-size: 130%;
}

.gale-crater-container {
    background-color: rgba(68, 54, 104, 0.332);
    width: 90%;
    border-radius: 8px;
}

.gale-crater-image-div {
  display: flex;
  justify-content: center;
}

.gale-crater-image {
    height: 65%;
    width: 95%;
    padding-bottom: 2%;
    border-radius: 8px;
}

.gale-crater-header {
    display: flex;
    gap: 1%;
}

.uv-index-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(68, 54, 104, 0.332);
    border-radius: 8px;
    padding-bottom: 8%;
    padding-left: 2%;
    
}

.uv-index-header {
    display: flex;
    padding-top: 4%;
    margin-left: 4%;
    gap: 2%;

}

.uv {
    font-size: 250%;
}

.uv-bar {
   width: 95%;
   margin-bottom: 6%;
}

.uv-content {
   padding-left: 4%;
    padding-right: 4%;
}

.sunrise-sunset-container {
    background-color: rgba(68, 54, 104, 0.332);
    border-radius: 8px;
    padding-bottom: 2%;
}

.sunrise-sunset-header {
    display: flex;
    gap: 2%;
    margin-left: 4%;
    padding-top: 4%;
}

.sunrise {
    display: flex;
    justify-content: start;
    font-size: 300%;
    margin-left: 4%;
}

.sunset {
    display: flex;
    justify-content: start;
    margin-left: 5%;
    margin-top: 2%;
}

.sunrise-img {
    height: 70px;
    width: 100%;
    opacity: 0.6;
}