<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./home-files/css/components-styles.css">
    </head>
    <body>
        <div class="rover-photos-container">
            <div class="rover-photos-header">
                <div><span class="material-symbols-outlined">
                    robot_2
                    </span></div>
                <div><h1>MARS ROVER PHOTOS</h1></div>
                </div>
                <div class="rover-photo-carousel-container">
                    <img class="rover-image"  alt="Rover Photo" src="{{photosData[roverPhotosIndex].img_src}}"><span class="rover-arrow-button"><button class="text-one" ng-click="toggleRoverPhotos()"><span style="font-size: 300%; font-weight: 100;" class="material-symbols-outlined">arrow_forward_ios</span></button></span></div>
                </div>
            </div>
       
        </div>
    </body>
</html>