<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <div class="sunrise-sunset-container">
            <div class="sunrise-sunset-header">
                <div class="text-two"><span class="material-symbols-outlined">
                    wb_twilight
                    </span></div>
                <div class="text-two"><h1>SUNRISE</h1></div>
            </div>

            <div>
                <div class="text-one"><span class="sunrise">{{ soleOneSunrise }}</span></div>
                <div><img class="sunrise-img" alt="sunrise" src="./home-files/images/sunrise.png"></div>
                <div class="text-one"><span class="sunset">{{"SUNSET: " + " " + soleOneSunset}}</span></div>
            </div>
        </div>
    </body>
</html>